@import 'colors';

.home {
  // display: flex;
  background-color: $gun-powder;
  color: $wild-sand;
}

.contentContainer {
  display: flex;
}

.actions {
  display: flex;
  justify-content: center;
  // margin-bottom: 200px;
  margin: 50px 0 0 0;

  button:first-child {
    margin-right: 45px;
  }
}
