@import 'breakpoints';
@import 'mixins';
@import 'colors';
@import 'variables';

.academic-writing {
  padding-top: 0;
  border: 1px solid green;

  .page-header {
    height: 250px;
  }

  .content-container {
    margin-top: 275px;
  }
}

@media (max-width: $breakpoint-sm) {
  .academic-writing {
    .page-header {
      height: 175px;
    }

    .content-container {
      margin-top: 200px;
    }
  }
}
