@import 'breakpoints';
@import 'mixins';
@import 'colors';
@import 'variables';

.academicWriting {
  padding-top: 0;
  border: 1px solid green;
}

.header {
  height: 250px;

  @media (max-width: $breakpoint-sm) {
    height: 175px;
    border: 3px solid green;
  }
}

.contentContainer {
  margin-top: 300px;

  @media (max-width: $breakpoint-sm) {
    margin-top: 225px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 5px;

  .iconButton {
    visibility: hidden;
    margin-left: 25px;
  }

  &:hover {
    .iconButton {
      visibility: visible;
    }
  }
}

.itemHeader {
  @include font-size(18px);
  margin-bottom: 5px;
}

.pubYear {
  color: $hit-grey;
}

.toTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  background-color: $meadow-trail;
  border-radius: $icon-button-border;
  cursor: pointer;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    filter: $white-filter;
  }

  @media (max-width: $breakpoint-sm) {
    right: 0;
    bottom: 70px;
    border-radius: $icon-button-border 0 0 $icon-button-border;
    height: 40px;
    width: 40px;
  }
}
