@import 'breakpoints';
@import 'mixins';
@import 'colors';

.academicWriting {
  padding-top: 0;
  border: 1px solid green;
}

.header {
  height: 250px;

  @media (max-width: $breakpoint-sm) {
    height: 175px;
    border: 3px solid green;
  }
}

.contentContainer {
  margin-top: 300px;

  @media (max-width: $breakpoint-sm) {
    margin-top: 225px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 5px;

  .iconButton {
    visibility: hidden;
    margin-left: 25px;
  }

  &:hover {
    .iconButton {
      visibility: visible;
    }
  }
}

.itemHeader {
  @include font-size(18px);
  margin-bottom: 5px;
}

.pubYear {
  color: $hit-grey;
}

.toTop {
  // display: flex;
  position: fixed;
  bottom: 50px;
  right: 50px;
  // color: white;
  // text-transform: uppercase;
  border: none;
  background-color: transparent;

  img {
    filter: $meadow-trail-filter;
  }
}
