@import 'breakpoints';
@import 'mixins';
@import 'colors';
@import 'variables';

.books {
  border: 2px solid purple;
  padding: 0;

  .content-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #book-details,
  #books-index {
    min-height: 600px;
  }

  #book-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    width: calc(100% - 400px);
    min-width: 400px;
    padding: 50px;

    .cover {
      margin-right: 60px;
    }
  }

  #books-index {
    border: 2px solid pink;
    width: 400px;
    min-width: 400px;
  }
}
