@import 'breakpoints';
@import 'mixins';
@import 'colors';
@import 'variables';

.books {
  padding: 0;

  .content-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: calc(100vh - 144px);
    min-height: 700px;
  }

  #book-details {
    min-height: 600px;
    height: calc(100% - 100px);
  }

  #books-index {
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 600px;
    height: 100%;
  }

  #book-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% - 400px);
    min-width: 600px;
    margin: 50px;

    .cover {
      margin-right: 60px;
    }

    .text {
      max-width: 600px;
      min-width: 300px;
      max-height: 500px;
      overflow-y: scroll;
      padding-right: 10px;

      h2 {
        line-height: 1.3;
        margin-bottom: 20px;
      }

      /* width */
      &::-webkit-scrollbar {
        background: pink;
        width: 5px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgba($gun-powder, 0.5);
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: rgba($gun-powder, 0.8);
      }
    }
  }

  #books-index {
    width: 300px;
    min-width: 300px;
  }
}
