@import 'colors';
@import 'mixins';

li[aria-selected='true'] {
  background: #ddd;
}

.select-container {
  position: relative;

  .select-button {
    border: 2px solid $gun-powder;
    background-color: $wild-sand;
    @include accent-text;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    width: 9rem;

    .chevron {
      position: absolute;
      right: 10px;
      margin-left: 10px;
      filter: $filter-gun-powder;
    }

    &:not([aria-expanded='true']) + .select-dropdown {
      width: 0;
      height: 0;
      overflow: hidden;
    }

    &:not([aria-expanded='true']) + .select-dropdown {
      transform: scaleY(0);
    }
  }

  .select-dropdown {
    transform-origin: top center;
    transition: transform 0.2s;
    position: absolute;
    border: 1px solid transparent;
    border-radius: 0 0 8px 8px;
    width: 13rem;
    top: 26px;
    right: -1px;

    .option {
      display: flex;
      justify-content: center;
      color: $wild-sand;
      background-color: $gun-powder;

      &:last-child {
        border-radius: 0 0 8px 8px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $wild-sand;
      }

      label {
        padding: 10px;
        width: 100%;

        input {
          display: none;
        }

        span {
          width: 100%;
          display: block;
        }

        &:not(:last-child) {
          border-bottom: 1px solid $wild-sand;
        }
      }

      &.active {
        filter: brightness(75%);
      }
    }
  }
}

@media (prefers-reduced-motion) {
  .select-dropdown {
    transition: none;
  }
}
