@import 'colors';

.select-button:not([aria-expanded='true']) + .select-dropdown {
  width: 0;
  height: 0;
  overflow: hidden;
}

li[aria-selected='true'] {
  background: #ddd;
}

.select-dropdown {
  transform-origin: top center;
  transition: transform 0.2s;
}

.select-button:not([aria-expanded='true']) + .select-dropdown {
  transform: scaleY(0);
}

@media (prefers-reduced-motion) {
  .select-dropdown {
    transition: none;
  }
}
