@import 'mixins';
@import 'functions';
@import 'colors';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 5px 70px 5px 50px;
  border: 1px solid pink;
}

.professorName {
  @include font-size(30px);
  text-transform: uppercase;
  font-weight: weight(bold);
  margin-right: 100px;
  border: 1px solid pink;
  text-wrap: nowrap;
}

.nav {
  display: flex;
  align-items: center;
  @include font-size(16px);
  height: 100%;
  margin-right: 50px;
}

.nav > a {
  display: flex;
  align-items: center;
  font-weight: weight(bold);
  padding: 0 20px;
  text-align: center;
  height: 100%;
  text-transform: uppercase;
}

.academicWriting {
  width: 8rem;
  // text-align: center;
  line-height: 0.85;
}

.selected {
  border-bottom: 3px solid $hit-grey;
}

.notSelected {
  border-bottom: 3px solid transparent;
}
