$wild-sand: #f4f4f4;
$gun-powder: #474853;
$meadow-trail: #8e8268;
$hit-grey: #aaa0a0;

//filters
$filter-wild-sand: invert(100%) sepia(2%) saturate(170%) hue-rotate(311deg)
  brightness(116%) contrast(91%);

$filter-gun-powder: invert(28%) sepia(16%) saturate(356%) hue-rotate(197deg)
  brightness(90%) contrast(90%);
