@import "./mixins.scss";
@import "./colors.scss";

a {
  text-decoration: none;
}

body {
  font-size: 1rem;
  color: $gun-powder;
  background-color: $wild-sand;
}

.btn {
  @include hover-lift();
}
